.register-div button {
    outline: none;
    background-color: aquamarine;
    border: 0px;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 10px 0;
    cursor: pointer;
    align-self: center;
}

.register-div .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.register-div button:active {
    transform: scale(0.9);
}

.register-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.register-div input {
    padding: 10px 14px;
    border-radius: 10px;
    outline: none;
    border: 0px;
    max-width: 300px;
    background-color: rgb(226, 215, 215);
    font-size: medium;
}

.register-div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-div .hide-btn {
    position: relative;
    top: 43px;
    left: 89%;
}