.navbar {
    background-color: #11101d;
    height: 100%;
    /* height: 100vh; */
    width: 78px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    z-index: 23;
    color: #fff;
    transition: all 0.5s;
}

.navbar.active ~.home{
    width: calc(100% - 240px);
    left: 240px;
}
.navbar.active ~.faq{
    width: calc(100% - 240px);
    left: 240px;
}
.navbar.active ~.user-cont{
    width: calc(100% - 240px);
    left: 240px;
}
.navbar.active ~.setting{
    width: calc(100% - 240px);
    left: 240px;
}

.navbar.active {
    width: 240px;
}

.navbar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

.navbar.active ul li .tooltip {
    display: none;
}

/* .navbar * {
    color: #fff;
} */
.navbar.active #btn {
    left: 90%;
}

.navbar .logo-content .logo {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
}

.navbar .logo-content {
    display: flex;
    justify-content: space-between;

}


.navbar .logo-content .logo .img {
    font-size: 28px;
    height: 50px;
    margin-right: 5px;
}

.navbar .logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 500;
}


.navbar #btn {
    position: absolute;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 40px;
    width: 35px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}

.navbar ul {
    margin-top: 20px;
    padding: 0px;
}

.navbar ul li {
    list-style-type: none;
    height: 50px;
    width: 100%;
    margin: 0px 5px;
    line-height: 45px;
    /* position: relative; */
}

.navbar ul li .nav-text {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    border-radius: 12px;
    /* transition: 0.4ms; */
    color: #fff;
    white-space: nowrap;
    font-size: large;
}

.navbar ul li .nav-text span {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;    
}

.navbar.active ul li .nav-text span {
    opacity: 1;
    pointer-events: auto;
}

.navbar ul li .nav-text:hover {
    color: #11101d;
    background-color: #fff;
}

.navbar ul li .tooltip {
    position: absolute;
    height: 35px;
    left: 102px;
    border-radius: 6px;
    /* top: 50%; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-10%); */
    transform: translateX(-45%);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100px;
    margin: 0px 25px;
    transition: 0s;
    opacity: 0;
    color: #11101d;
    pointer-events: none;
    /* line-height: 35px; */
}

.navbar ul li:hover .tooltip {
    transition: 0.5 ease;
    opacity: 1;
    transform: translate(-45%,-100%); 
    /* top: 50%; */
}

.navbar ul li .nav-text .ic {
    height: 50px;
    border-radius: 12px;
    min-width: 50px;
    line-height: 55px;
    /* display: flex;
    align-items: center; */
    text-align: center;
}

.nav-list li input {
    background-color: #1d1b31;
    outline: none;
    color: #fff;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border: none;
    padding-left: 50px;
    border-radius: 12px;
    /* pointer-events: none; */
}

.nav-list .search {
    display: flex;
    align-items: center;
}

.nav-list .search .box-search {
    position: absolute;
    font-size: 16px;
    z-index: 99;
    margin-left: 18px;
    /* color: #fff; */
    transition: 0.5s ease;
}

/* .nav-list .search .box-search:hover{
    color: #1d1b31;
} */
/* .nav-list li input:hover{
    color: #1d1b31;
    background-color: #fff;
} */

.navbar .profile-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navbar .profile-content .profile {
    padding: 10px 6px;
    display: flex;
    align-items: center;
    /* background-color: #1d1b31; */
    /* height: 60px; */
    /* position: absolute;
    bottom: 0px; */
    /* left: 0;
    right: 0; */

    /* right: 0; */
}
.navbar.active .profile-content .profile {
    background-color: #1d1b31;
}

.profile .profile-details {
    display: flex;
    align-items: center;
    width: 37%;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.navbar.active .profile .profile-details{
    opacity: 1;
    width: 85%;
    pointer-events: auto;    
}
.profile .profile-details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-details .name-job {
    margin-left: 10px;
}

.profile .profile-details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile-details .job {
    font-size: 12px;
    font-weight: 400;
}
.profile-content .profile #exit button{
    background-color: #1d1b31;
    border: 0px;    
    color: #fff;
    font-size: 20px;
    transform: translateX(-1px);
    cursor: pointer;
}
.profile-content .profile #exit {
    align-self: flex-end;
    justify-self: flex-start;
    /* cursor: pointer; */
    /* line-height: 40px; */
    transform: translateX(-20px);
    font-size: 20px;
    border-radius: 12px;
    background-color: #1d1b31;
    padding: 10px 14px 7px 13px;
    /* border-radius: 12px 1px; */
}

.navbar.active .profile-content .profile #exit{
    background-color: none;
}

@media (min-width: 310px) and (max-width: 350px) {
    .navbar.active {
        height: 100vh;
    }
}