.saved {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    /* background-color: rgb(228, 248, 248); */
    /* z-index: 0; */
    /* font-size: 25px; */
    font-weight: 500;
    color: #1d1b31;
    transition: all 0.5s ease;
    /* text-align: center; */
    padding: 8px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}